.*.swp
.DS_Store
.nova
.python-version
.vscode
TAGS
jsdoc
node_modules
trans.tsv
doc/_build
doc/.python-version
doc/html
dist/wcdatavis.css
dist/wcdatavis.js
dist/wcdatavis.min.js
examples/wcdatavis.js
examples/wcdatavis.min.js
examples/wcdatavis.css
examples/wcdatavis-extra.css
examples/test/*.json
trans-missing/*.tsv
tests/data/*.csv
tests/data/*.json
tests/data/*.xml
tests/pages/wcdatavis.js
tests/pages/wcdatavis.css
tests/pages/*.csv
tests/pages/*.json
tests/pages/*.xml
third-party/*.js
third-party/*.css
npm-debug.log
reports
dist/wcdatavis.js.map
