[submodule "third-party/jaguarjs-jsdoc"]
	path = third-party/jaguarjs-jsdoc
	url = git@github.mieweb.com:datavis/jaguarjs-jsdoc.git
[submodule "third-party/json-formatter-js"]
	path = third-party/json-formatter-js
	url = git@github.mieweb.com:datavis/json-formatter-js.git
[submodule "third-party/jquery.sumoselect"]
	path = third-party/jquery.sumoselect
	url = git@github.mieweb.com:datavis/jquery.sumoselect
